<div class="contain">
  <div class="head">
    <h4>Welcome to My Clothes Stores</h4>
    <p>
      We offer variety of clothes at affordable rates. Check through our list
      and pick yours
    </p>
  </div>
  <div id="header-image">
    <div>
      <img
        width="100%"
        height="400px"
        src="../../../assets/images/shirts.jpg"
        alt="shirts"
      />
    </div>
    <div>
      <img
        width="100%"
        height="400px"
        src="../../../assets/images/trousers.jpg"
        alt=""
      />
    </div>
  </div>
  <div id="review">
    <h5>Customer Reviews</h5>
    <div id="review-box">
      <div class="box">
        <h6>Johnson</h6>
        <p>
          Nice experince, got everything that i wanted at an affordable price,
          they also supplied them directly to my house
        </p>
      </div>
      <div class="box">
        <h6>Emily</h6>
        <p>
          I got the best customer service that i could asked for with everything
          that i need right in its place
        </p>
      </div>
      <div class="box">
        <h6>Bradley</h6>
        <p>
          One thing i can say is that i would visit this store again and again
        </p>
      </div>
    </div>
  </div>
  <div id="footer">Emmnauel Store, 2022</div>
</div>
