.product {
    display: flex;
    align-items: center;
    .product-img {
        width: 300px;
        border-radius: 10px;
        height: 400px;
        margin-left: 20%;
        margin-top: 2rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    &__detail {
        padding: 4rem;
        select {
            width: 6rem;
            padding: 6px;
            border-radius: 5px;
        }
        button {
            background-color: #82D173;
            border: 1px solid #82D173 !important;
            padding: 5px;
            color: #fff;
            border-radius: 5px;
            margin-left: 5px;
            margin-top: 2px;
        }
    
    }
    .back{
        position: absolute;
        bottom: 0;
    }
}
