<div class="cart__container">
  <div class="cart__item">
    <div *ngFor="let items of cartItems" class="cart-item">
      <img src="{{ items.url }}" alt="" class="item_url" />
      <div class="side-detail">
        <div class="item-details">
          <b>{{ items.name }}</b>
        </div>
        <div class="item-details">${{ items.price }}</div>
        <div class="item-details">
          <select
            #cart
            (change)="changeItem(cart.value, items)"
            class="select"
            name="changed-item"
            class="select"
          >
            <option [ngValue]="1" [selected]="items.quantity === '1'">1</option>
            <option [ngValue]="2" [selected]="items.quantity === '2'">2</option>
            <option [ngValue]="3" [selected]="items.quantity === '3'">3</option>
            <option [ngValue]="4" [selected]="items.quantity === '4'">4</option>
            <option [ngValue]="5" [selected]="items.quantity === '5'">5</option>
          </select>
        </div>
        <div class="item-details">
          <button
            type="button"
            (click)="removeItem(items.id)"
            class="cart-item-button"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
    <div class="item">
      <h6>Total Price: ${{ totalPrice }}</h6>
    </div>
  </div>
  <div>
    <app-user-details (addUser)="onSubmit($event)"></app-user-details>
  </div>
</div>
